.about {
    margin-top: 105px;
    margin-left: 24px;
    margin-right: 24px;
    padding-top: 57px;
    background-color: $white;
    border-radius: 16px;
    position: relative;
}

.about__title {
    text-align: center;
    font-size: 32px;
    font-weight: 900;
    line-height: 46px;
}

.about__list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 40px 31px;
    list-style: none;
    margin: 0 auto;
    padding-top: 55px;
    padding-bottom: 55px;
}

.about__list::before {
    content: "";
    background-image: url(./images/wafer.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 1170px;
    height: 480px;
    position: absolute;
    top: -25px;
    left: -24px;
    z-index: -1;
}

.about__item {
    width: 442px;
    margin-left: 64px;
    position: relative;
}

.about__item--icecream::before {
    content: "";
    background-image: url(./images/icecream.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;
    position: absolute;
    top: -1px;
    left: -64px;
}

.about__item--cow::before {
    content: "";
    background-image: url(./images/cow.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;
    position: absolute;
    top: -1px;
    left: -64px;
}

.about__item--leaf::before {
    content: "";
    background-image: url(./images/leaf.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;
    position: absolute;
    top: -1px;
    left: -64px;
}

.about__item--thermometer::before {
    content: "";
    background-image: url(./images/thermometer.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;
    position: absolute;
    top: -1px;
    left: -64px;
}