@import "./variables.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
  font-size: calc(0.062vw);
  background-color: $black100;
  font-family: "Chakra Petch";
  color: $white;
  font-size: 16rem;
  line-height: 28rem;
  font-weight: 400;
}

body {
  line-height: 1.45;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  margin: 0;
}
