@mixin font($fname, $fstyle, $fweight, $furlwoff2, $furlwoff) {
  @font-face {
    font-family: $fname;
    font-style: $fstyle;
    font-weight: $fweight;
    src: url($furlwoff2) format('woff2'), url($furlwoff) format('woff');
  }
}

@include font(
  'Chakra Petch',
  normal,
  600,
  '../public/fonts/ChakraPetch-SemiBold.woff2',
  '../public/fonts/ChakraPetch-SemiBold.woff'
);
@include font(
  'Chakra Petch',
  normal,
  500,
  '../public/fonts/ChakraPetch-Medium.woff2',
  '../public/fonts/ChakraPetch-Medium.woff'
);
@include font(
  'Chakra Petch',
  normal,
  500,
  '../public/fonts/ChakraPetch-Regular.woff2',
  '../public/fonts/ChakraPetch-Regular.woff'
);
@include font(
  'Chakra Petch',
  normal,
  400,
  '../public/fonts/ChakraPetch-Light.woff2',
  '../public/fonts/ChakraPetch-Light.woff'
);
