@mixin font($fname, $fstyle, $fweight, $furlwoff2, $furlwoff) {
  @font-face {
    font-family: $fname;
    font-style: $fstyle;
    font-weight: $fweight;
    src: url($furlwoff2) format("woff2"), url($furlwoff) format("woff");
  }
}

@include font(
  "Inter",
  normal,
  900,
  "../public/fonts/Inter-Black.woff2",
  "../public/fonts/Inter-Black.woff"
);

@include font(
  "Inter",
  normal,
  700,
  "../public/fonts/Inter-Bold.woff2",
  "../public/fonts/Inter-Bold.woff"
);

@include font(
  "Inter",
  normal,
  400,
  "../public/fonts/Inter-Regular.woff2",
  "../public/fonts/Inter-Regular.woff"
);
