$blue-purple-linear: linear-gradient(90deg, #0cbaf1 0%, #e95ce9 100%);
$purple: #ca6aeb;
$blue: #19b5f1;
$green: #00c566;
$red: #ff4747;
$black100: #1b1b1b;
$black50: #252532;
$grey1: #b0b0b2;
$grey2: #d1d1d1;
$white: #ffffff;
