$extra-dark: #2D3440;
$dark: #565C66;
$neutral: #B9B9B9;
$light: #E7E7E7;
$extra-light: #FCFCFC;
$pink: #FF4A78;
$extra-pink: #FF2F64;
$neutral-pink: #FF7799;
$light-pink: #FEAFC3;
$superlight-pink: #FFCBD8;
$blue: #69A9FF;
$light-blue :#9FC8FF;
$yellow: #FCC850;
$light-yellow: #FCDC92;
$error: #EA5454;
$warning: #FD912E;
$success: #00E484;
$white: #FFFFFF;